<div class="container">
	<div class="row">
		<div class="span12" style="margin-top: 120px">
			<form class="form-horizontal" name="loginForm">
				<div id="legend">
				<legend class="">Login</legend></div>
				<div class="control-group">
					<!-- EmailId -->
					<label class="control-label" for="userid">UserID</label>
					<div class="controls">
						<input type="text" id="emailid" name="emailid"
							placeholder="Enter your email address"
							class="form-control is-invalid" ng-model="user.email"
							ng-pattern="emailFormat" required> <small
							style="color: red;" id="passwordHelp" class="text-danger"
							ng-show="loginForm.emailid.$error.required && loginForm.submitted">
							Required! </small> <small style="color: red;" id="passwordHelp"
							class="text-danger"
							ng-show="loginForm.emailid.$error.pattern && loginForm.submitted">
							Not valid email! </small>
					</div>
				</div>
				<div class="control-group">
					<!-- Password -->
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input type="password" id="password" name="password"
							placeholder="Enter your Password" class="input-xlarge"
							ng-model="user.password" required> <span
							ng-show="logintForm.password.$touched && loginForm.password.$error.required">Password
							is required.</span>
					</div>
				</div>
				<div class="control-group">
					<!-- Button -->
					<div class="controls">
						<button class="btn btn-success" data-ng-click="login()">Login</button>
						<button class="btn btn-success" data-ng-click="register()">Register</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
